.header {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;

  .content {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .right {
    display: flex;
    gap: 1rem;
    align-items: center;

    .nav-link {
      color: #000;
      text-decoration: none;
    }
  }
}

.inspiring-panel {
  margin-top: 4rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    145deg,
    rgb(241, 253, 255),
    rgb(248, 255, 240)
  );

  .title {
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem;
  }

  .description {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
  }
}

.main {
  .title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  margin-top: 70px;
  padding: 1rem;
}
